* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #e93838;
  margin: 0;
}

a {
  text-decoration: none;
}

/* HEADER=========== */

.mainHeader .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
}

.mainHeader .headerTitle {
  display: inline-block;
  color: #666;
  font-size: 24px;
  line-height: 52px;
}
.burger {
  /* font-size: 24px; */
}

.nav {
  display: none;
}
/* /Header */

/* Hero========== */
/* .hero {
  position: static;
} */

.heroImg {
  position: absolute;
  z-index: -10;
  width: 10%;
  /* height: 150%; */
}

.heroContent {
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */
  text-align: center;
  padding: 0px 15px;
}

.heroTitle {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  color: white;
}

.heroText {
  color: white;
}

.heroBtn {
  background: #745cf9;
  color: #fff;
  border: 2px solid #745cf9;
  padding: 0 26px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s ease;
  margin-right: 8px;
  margin-bottom: 24px;
  min-width: 200px;
}

.btn2 {
  background-color: transparent;
  border: 2px solid white;
}

.btn1:hover {
  background-color: #5d42f6;
  border: 2px solid #5d42f6;

  color: white;
}

.btn2:hover {
  background-color: white;
  color: black;
}
/* /Hero========== */
