*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}
.sDemo {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  display: flex;
  flex-direction: row;
}

a {
  display: block;
  padding: 8px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
