/* WORK TOGETHER - START */
.work-container {
}

.work-title {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--secondary-dark);
  text-align: center;
  margin-bottom: 24px;
}

.work-intro {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: var(--secondary-dark);
  text-align: center;
  margin-bottom: 60px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.work-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 80px;
}
/* WORK TOGETHER - END */
