/* RESETS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Global */
body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

.headerTitle {
  color: #333;
  font-size: 24px;
  font-weight: 300;
}

.burgerBtn {
  background-color: white;
  border: none;
  font-size: 14px;
  color: #3a52bf;
}

.hidden {
  display: none;
}

/* Intro */
.introSection {
  position: relative;
  color: white;
  height: 100vh;
}

.background {
  background-image: url('./images/photo-1443527216320-7e744084f5a7-1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.introElements {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.introTitle {
  font-weight: 300;
}
