/* Variables */
:root {
  --lightGray: #8c979e;
  --darkGray: #0e1015;
}

/* RESETS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Global */
body {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

.headerTitle {
  color: #333;
  font-size: 24px;
  font-weight: 300;
}

.burgerBtn {
  background-color: white;
  border: none;
  font-size: 14px;
  color: #3a52bf;
}

.hidden {
  display: none;
}

.caps {
  text-transform: uppercase;
}

/* Intro */
.introSection {
  position: relative;
  color: white;
  height: 100vh;
}

.background {
  background-image: url('./images/photo-1443527216320-7e744084f5a7-1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.introElements {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.introTitle {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
}

.introText {
  font-size: 12px;
  margin-bottom: 36px;
}

.btn {
  min-width: 200px;
  line-height: 24px;
  padding: 13px 0;
  color: white;
  border: 2px solid white;
  font-size: 12px;
  font-weight: 700;
}

.btnPurple {
  background-color: #745cf9;
  border-color: #745cf9;
}

.btnTransparent {
  background-color: transparent;
}

/* SEO Friendly */
.seoFriendly {
  padding: 80px 20px;
}

.seoTitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--darkGray);
}

.seoParagraph {
  font-size: 12px;
  color: var(--lightGray);
  line-height: 24px;
  margin-bottom: 24px;
}

.seoBtn {
  margin-bottom: 24px;
}

/* Portfolio */
.portfolio {
  padding: 80px 20px;
  background-color: #f5f5f5;
}

.portfolioTitle {
  font-weight: 400;
  font-size: 24px;
  color: var(--darkGray);
  margin-bottom: 24px;
}

.portfolioParagraph {
  color: var(--lightGray);
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 32px;
}

.portfolioBtn {
  margin-bottom: 50px;
}
