/* COMMON STYLES */
html {
  --primary-black: #0e1015;
  --primary-white: #fff;
  --primary-ligth-grey: #8c979e;
  --primary-dark-grey: #666;
  --primary-soft-blue: #745cf9;
  --primary-blue: #0693e3;
}

.btn-style-blue {
  background-color: var(--primary-soft-blue);
  border: 2px solid var(--primary-soft-blue);
  min-width: 200px;
  padding: 13px 26px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  text-align: center;
  color: #fff;
  line-height: 24px;
  cursor: pointer;
}

.btn-style-white {
  border: 2px solid var(--primary-white);
  background-color: transparent;
  color: var(--primary-white);
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  min-width: 200px;
  padding-bottom: 13px;
  padding-top: 13px;
  cursor: pointer;
}

/* HEADER - START */
.main-header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-title {
  font-size: 24px;
  font-weight: 300;
  line-height: 52px;
  color: var(--primary-dark-grey);
  padding-top: 10px;
  padding-bottom: 10px;
}

.burger {
  color: var(--primary-soft-blue);
}

.nav {
  display: none;
}
/* HEADER - END */

/* HERO - START */
.hero-title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
}

.hero-subtitle {
  font-size: 12px;
  font-weight: 400;
}

.hero-text-container {
  position: absolute;
  text-align: center;
}

.hero-image {
  max-width: 100vh;
}
.hero-btn-container {
  display: flex;
  flex-direction: column;
}
/* HERO - END */

/* ARTICLES SECTION - START*/
.arcticle-container {
  padding-right: 15px;
  padding-left: 15px;
}
.article1-container,
.article2-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.article-image {
  max-width: 100%;
}

.article-title {
  color: var(--primary-black);
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.article-text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--primary-ligth-grey);
}
/* ARTICLES SECTION - END */

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 800px) {
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1500px) {
}
