
.workEverywhere {
    text-align: left;
    background-color: --primary-dark;
  }
  .workEverywhere .text-part {
    margin-bottom: 60px;
  }
  .workEverywhere .sectionTitle{
    color: white;
  }
  .workEverywhere .section-text{
    color: white;
  }
  .btn {
    margin-bottom: 100px;
  }