@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

html {
  --primary-dark: #043873;
  --primary-light: #4f9cf9;
  --secondary-1: #ffe492;
  --secondary-4: #212529;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Common styles =================================== */

.footerBlock {
  background-color: var(--primary-dark);
  color: #fff;
}

.footerBlock.flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 16px;
}
.footerTitleLarge {
  font-size: 40px;
  line-height: 36px;
}

.svgImg {
  padding-right: 30px;
}
