body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.navBar {
  display: flex;
  justify-content: space-between;

  padding: 30px 30px;
}
.burgerIcon {
  align-self: center;
  color: rgb(10, 10, 114);
  margin: 0;
}
.logo {
  color: rgb(53, 53, 53);
  font-weight: 100;
  font-size: 25px;
  margin: 0;
}
