.btn {
  background-color: var(--primary-light);
  border: none;
  border: 1px solid var(--primary-light);
  color: white;
  border-radius: 8px;
  padding: 20px 40px;
  line-height: 1;
  font-size: 18px;
  transition: filter 0.2s;
  cursor: pointer;
}
.btn:hover {
  filter: brightness(0.9);
}
