html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
  background-color: aliceblue;
}

.bi {
  color: #3a52bf;
}

a {
  text-decoration: none;
  color: gray;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

span {
  margin: auto;
  font-size: 24px;
  color: #666;
}

.heroSection {
  height: 500px;
  background-image: url(waves.jpg);
  background-size: cover;
}

@media only screen and (max-width: 800px) {
  a {
    display: none;
  }

  nav {
    display: flex;
  }
}
